.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.libraryButton {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    padding: 20px;
}
  
button:hover {
    background-color: rgb(32, 32, 32);
    color: rgba(216, 1, 1, 0.561);
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

#container {
    text-align: center;
}